.AddStock {
  height: 50px;
  margin-top: 2.5rem;
  margin-bottom: 120px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  /* margin: 0 2.5rem; */
  text-align: center;
}

.AddStock__Label {
  /* text-transform: uppercase; */
  font-weight: 200;
  font-size: 16px;
}

.AddStock__Input {
  outline: none;
  width: 400px;
  height: 35px;
  text-align: center;
  opacity: 0.82;
  background-color: rgba(245, 245, 245, 1);
}
    
button.AddStock__Button {
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: stretch;
  background-color: #333;
  color: #fff;
  max-width: 200px;
  width: 25%;
  height: 35px;
}

button.AddStock__Button {
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: stretch;
  background-color: #333;
  color: #fff;
  max-width: 200px;
  width: 25%;
  height: 34px;
}

button.AddStock__LogoutButton {
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: stretch;
  background-color: #333;
  color: #fff;
  max-width: 100px;
  width: 15%;
  height: 20px;
  /* margin-left: 5.0rem; */
}

input[type="text"] {
  font-size: 16px;
  font-family: sans-serif;
  color: #373333;
}

/* @media only screen and (min-width: 600px) {
  .AddStock__Input {
    width: 65%;
  }
} */