@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.StockCard {
  box-shadow: border-box;
  flex: 0 0 98%;
  list-style: none;
  display: flex;
  padding: 2rem;
  margin: .25rem;
  text-align: left;
  flex-flow: column wrap;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  line-height: 1.3rem;
  background-color: rgba(245, 245, 245, 1);
  opacity: 0.85;
  border: 3px outset rgba(158, 158, 158, 0.973);
}

h3, h5 {
  margin: 0;
}

li, span {
  margin: 0.25;
}

@media only screen and (min-width: 600px) {
  .StockCard {
    flex: 0 0 48%;
  }
}

@media only screen and (min-width: 1024px) {
  .StockCard {
    flex: 0 0 24%;
  }
}

.StockCard:hover {
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.24), 0 10px 10px rgba(0,0,0,0.20);
}

.StockCard > * {
  letter-spacing: 1px;
  font-weight: 500;
}

.StockCard > * span{
  color: #757575;
  font-weight: 400;
}