.Home {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url("https://interfacelift.com/wallpaper/7yz4ma1/03901_empirenights_2560x1440.jpg");
  /* background-color: green; */
  background-size: cover;
}

.Home__Title {
  letter-spacing: 8px;
  font-weight: 300;
  font-size: xx-large;
  text-transform: uppercase;
}

.body {
  /* background-image: 'url("")'; */
  background-size: cover;
  border: 2px solid black;
  height: 300px;
  width: 300px;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto')
}