* {
  margin: 0;
  padding: 0;
}

.LoginPage {
  width: 100vw;
  height: 100vh;
  /* height: 50px;
  margin-top: 2.5rem; */
  text-align: center;
  margin-bottom: 2.5rem;
  background-image: url("https://interfacelift.com/wallpaper/7yz4ma1/03901_empirenights_2560x1440.jpg");
  background-size: cover;
  }

.Username__Label {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 15px;
}

.Password__Label {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 15px;
}

.LoginUsername__Input {
  outline: none;
  width: 210px;
  height: 20px;
  text-align: center;
}

.LoginPassword__Input {
  outline: none;
  width: 210px;
  height: 20px;
  text-align: center;
}

.Login__Title {
  letter-spacing: 8px;
  font-weight: 300;
  font-size: xx-large;
  text-transform: uppercase;
  line-height: 130px;
}
      
button.Login__Button {
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: stretch;
  background-color: #333;
  color: #fff;
  max-width: 170px;
  width: 25%;
  height: 28px;
}

input[type="text"] {
  font-size: 15px;
  font-family: sans-serif;
  color: #373333;
}

.body {
  background-image: url("https://interfacelift.com/wallpaper/7yz4ma1/03901_empirenights_2560x1440.jpg");
}
  
/* @media only screen and (min-width: 600px) {
  .LoginUsername__Input, .LoginPassword__Input {
    width: 65%;
  }
} */

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto')
}